.header {
  position: relative;
  background-color: #fff;
  height: auto;
  z-index: 99;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.navigation li {
  margin-right: 20px;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.logo {
  position: relative;
  margin-top: 23px;
  margin-left: -30px;
  left:0
  
}

.logo img {
  width: 300px; /* or any other desired width */
  height: 100%; /* maintain aspect ratio */

}


.form-control {
  font-size: 24px; /* or any other desired font size */
  width: 1050px; /* or any other desired width */
  margin-top: 157px;
  margin-right: -850px;

}
.btn-outline-success {
  flex-grow: 0;

}
.d_flex {
  font-size: 20px;
  padding: 10px;
  margin-right: -20px; /* move the search input closer to the button */
}
.fa-search {
  font-size: 18px;
}
#user {
  display: flex;
  align-items: center;
}
#user li:nth-child(2) {
  margin-right: 20px;
}

.banner_main {
  height: 100%; /* Change the height as desired */
  margin-top: 27px;

}
.text-bg {
  font-size: 20px;
}
.text-img img {
  max-width: 85%; /* ensure the image doesn't exceed its container's width */
  height: auto; /* maintain the image's aspect ratio */
  display: block; /* remove any default spacing or alignment issues */
}

#guest li.nav-item {
  display: inline-block;
  margin-right: 10px; /* optional - adds some spacing between the elements */
}

















































  

  
  

  
  
  