header {

  background-size: cover;
  background-position: center;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: orange;
}

#user .nav-link,
#guest .nav-link {
  color:black;
}

#user .nav-link:hover,
#guest .nav-link:hover {
  color: blue;
}

.form-control-me-2 {
  background-color: #fff;
  border-color: #000;
  color: #000;
  height: 30px;
}

.btn-outline-success {
  color: #fff;
  border-color: #f90;
  background-color: #f90;
}

.btn-outline-success:hover {
  background-color: #fff;
}

.banner-main {
  margin-top: -33px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}


.container-fluid {
  width: 100%;
  max-width: none;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

.text-bg h1 {
  font-size: 40px;
  font-weight: bold;
  background-color: black;
}
.d-flex {
  width: 100%; /* Change the value to adjust the width */
  position: relative;
  justify-content: space-between;
  
}
.form-control-me-2 {
  width: 92%; /* Change the value to adjust the width */
  margin-left: 50px;
}
#navbarNav {
  display: flex;
  justify-content: space-between;
}

form.d-flex {
  margin-left: 20px;
}

form.d-flex button.btn-outline-success {
  margin-left: 5px;
}
.navbar-nav-ms-auto {
  display: flex;
  flex-wrap: nowrap;
  
}
.nav-link {
  margin-right: 30px;
}
.text-bg {
  color: #fff;
}


































  

  
  

  
  
  