.cont_call {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    color: black
  }
  
  .cont_call h1 {
    font-size: 3em;
    margin: 50px 0;
  }
  
  .cont_call h2 {
    font-size: 1.5em;
    margin: 20px 0;
  }
  
  .cont_call p {
    margin: 10px 0;
  }
  .nav_contacts {
    float: left !important;
    margin-right: 1800px !important;
  }
  
  
  